@import "@styles/size";
.footer {
  max-width: $pageWidth-lg;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

.footerFlex{
  display: flex;
  width: 100%;
  justify-content: space-between;
  aling-items: center;
}