@import "base";
:root {
  //COLORS
  --bgColor: #222222;
  --text: #dfeeee;
  --btn: #3a8a8d;
  //FONT SIZES
  --fs-sm: 12px;
  --fs-md: 16px;
  --fs-lg: 20px;
}
html,
body {
  scroll-behavior: smooth;
  transition: background 1s;
  scroll-padding-top: 80px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bgColor);
  color: var(--text);
  @media only screen and (max-width: 600px) {
    font-size: var(--fs-sm);
  }
  @media only screen and (min-width: 768px) {
    font-size: var(--fs-sm);
  }
  @media only screen and (min-width: 992px) {
    font-size: var(--fs-md);
  }
}

html[data-theme="light"] {
  --bgColor: #ffffff;
  --btn: #000000;
  --text: #000000;
}

html[data-theme="dark"] {
  --bgColor: rgba(34, 34, 34);
  --btn: #3a8a8d;
  --text: #dfeeee;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* container design på en max-width */
@media screen and (max-width: 968px) {
  .container {
    max-width: 100%;
    padding: 0rem 1rem;
    width: 100%;
    margin: 0 auto;
  }
}
.container {
  max-width: $pageWidth-lg;

  width: 100%;
  margin: 0 auto;
}
/* Padding topp och bottom */
.section {
  padding: $sectionPaddingTopBottom;
}
/*  LinearGradient på text */
.linearGradient {
  background: -webkit-linear-gradient(rgb(15, 150, 76), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
.active {
  color: $text-primaryDarkHover !important;
}
p {
  line-height: 2;
  letter-spacing: 2px;
}

/* 404 */
.fourohfour {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
